<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> <!-- Link to the CSS file -->
    <title>Welcome to PlayVRehab</title>
</head>
<body>

    <div class="overlay"></div>

     <div class="homepage_base">

        <h1 style="font-size: xxx-large;">Welcome to PlayVRehab</h1>

        <ul>
            <li style="font-size: xx-large;"><a class="a_link_blue_no_center" href="/login">Login</a></li>
        </ul>

    </div>

</body>
</html>
